<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= I18n.t('how_to_tie_a_tie_title') %> - Is it Formals?</title>
    <meta name="description" content="<%= I18n.t('how_to_tie_a_tie_description') %>"> 
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/slider.css">
</head>
<body>
    <header>
        <h1><%= I18n.t('how_to_tie_a_tie_title') %></h1>
    </header>
    <main>
      <p class="body-text"><%= I18n.t('how_to_tie_a_tie_description') %></p>
     
      <div class="slideshow-container">
        <div class="image-slide fade">
          <div class="numbertext">1 / 6</div>
          <img 
            src="./images/slide1.webp" style="width:100%" 
            alt="<%= I18n.t('how_to_tie_a_tie_slide1') %>"
            class="dots"
          >
        </div>

        <div class="image-slide fade">
          <div class="numbertext">2 / 6</div>
          <img 
            src="./images/slide2.webp" style="width:100%"
            alt="<%= I18n.t('how_to_tie_a_tie_slide2') %>"
            class="dots"
          >
        </div>

        <div class="image-slide fade">
          <div class="numbertext">3 / 6</div>
          <img 
            src="./images/slide3.webp" style="width:100%"
            alt="<%= I18n.t('how_to_tie_a_tie_slide3') %>"
            class="dots"
          >
        </div>
        
        <div class="image-slide fade">
          <div class="numbertext">4 / 6</div>
          <img 
            src="./images/slide4.webp" style="width:100%"
            alt="<%= I18n.t('how_to_tie_a_tie_slide4') %>"
            class="dots"
          >
        </div>

        <div class="image-slide fade">
          <div class="numbertext">5 / 6</div>
          <img 
            src="./images/slide5.webp" style="width:100%"
            alt="<%= I18n.t('how_to_tie_a_tie_slide5') %>"
            class="dots"
          >
        </div>

        <div class="image-slide fade">
          <div class="numbertext">6 / 6</div>
          <img 
            src="./images/slide6.webp" style="width:100%"
            alt="<%= I18n.t('how_to_tie_a_tie_slide6') %>"
            class="dots"
          >
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Holds the caption -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>
                  
    </main>
    <footer class="footer-text"> 
      <nav>
        <ul>
          <li><a href="index.html"><%= I18n.t('footer_home') %></a>  | </li>
          <li><a href="formals_checklist.html"><%= I18n.t('footer_checklist') %></a> </li>
        </ul>
      </nav>
    </footer>
  <script>
    let slideIndex = 1;

    // Show the first slide
    showSlides(slideIndex);

    // Function to change slides using next/prev buttons
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Function to set the current slide
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    // Function to show the slides
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("image-slide");
      let dots = document.getElementsByClassName("dots");
      let captionText = document.getElementById("caption");

      // Reset the slide index if it exceeds the number of slides
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}

      // Hide all slides and remove active class from dots
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }

      // Remove active class from all dots
      slides[slideIndex - 1].style.display = "block";

      // Set the active class for the current dot
      dots[slideIndex - 1].className += " active";

      // Update the caption text
      captionText.innerHTML = dots[slideIndex - 1].alt;
    }
  </script>
</body>
</html>