<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= I18n.t(:index_title) %></title>   
    <meta name="description" content="<%= I18n.t(:index_description) %>"> 
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">    
  </head>
  <body>
    <nav class="language-selector footer-text">
      <ul>
        <li><a href="index-en.html"><%= I18n.t(:english) %></a></li>
        <li><a href="index-mi.html"><%= I18n.t(:maori) %></a></li>
        <li><a href="index-zh.html"><%= I18n.t(:chinese) %></a></li>
      </ul>
    </nav>

    <header>
      <h1><%= I18n.t(:index_title) %></h1>
    </header>
    <main>
      <div id="yes-no-maybe" class="yes-no-maybe"> </div> 
      <div id="formal-day-message" class="body-text" lang="<%= I18n.locale %>"> </div>
    </main>

    <script src="js/script.js"></script>

    <footer class="footer-text"> 
      <nav>
        <ul>
          <li><a href="formals_checklist.html"> <%= I18n.t(:footer_checklist) %></a> |</li>
          <li><a href="how_to_tie_a_tie.html"> <%= I18n.t(:footer_checklist) %></a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
